<!doctype html>
<title>pytest Plugin Compatibility</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='gumby.css') }}">

<div class="row">
<h1>pytest Plugins Compatibility</h1>

    <p>This page shows results of compatibility tests between <a href="https://pytest.org">pytest</a> plugins
       against different versions of the python interpreter.
    </p>
    <p>The plugins are listed and tested automatically from <a href="https://pypi.org/">PyPI</a>.
        For more information, please see <a href="https://github.com/pytest-dev/plugincompat">
            https://github.com/pytest-dev/plugincompat</a>.
    </p>

    <p>PyPI projects that declare the <b>Framework :: Pytest</b> classifier or whose
        name starts with <b>pytest-</b> are considered plugins.</p>

    <p>
        <strong>Note:</strong> although some may appear as "broken" keep in mind
        that all dependencies may not be installed during testing, particularly
        if a dependency is too big or requires a dedicated server (such
        as <a href="https://pypi.org/project/pytest-jira">pytest-jira</a>,
        which requires a jira server, or
        <a href="https://pypi.org/project/pytest-qt">pytest-qt</a>,
        which requires PyQt or PySide, both which take a long time to install).
        Take the information you find here with a grain of salt, and rely on
        each plugin's homepage for up-to-date compatibility information.
    </p>

    <table class="striped rounded metro">
        <caption>pytest-{{ latest_pytest_ver }}: {{ lib_names|count }} plugins</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                {% for python_ver in python_versions %}
                <th>{{ python_ver }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for lib_name in lib_names %}
            <tr>
                <td><a href="https://pypi.org/project/{{ lib_name.rsplit('-', 1)[0] }}">{{ lib_name }}</a></td>
                <td>{{ descriptions[lib_name]}}</td>
                {% for python_ver in python_versions %}
                    <td>
                    <a href="{{ '/output/%s?py=%s&pytest=%s' % (lib_name, python_ver, latest_pytest_ver) }}">
                    {% if statuses.get((lib_name, python_ver, latest_pytest_ver)) == "ok" %}
                        <img src="{{ url_for('static', filename='ok.png') }}"/>
                    {% elif statuses.get((lib_name, python_ver, latest_pytest_ver)) == "fail" %}
                        <img src="{{ url_for('static', filename='fail.png') }}"/>
                    {% else %}
                        <img src="{{ url_for('static', filename='unknown.png') }}"/>
                    {% endif %}
                    </a>
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if pytest_versions|count > 1 %}
    {% for lib_name in lib_names %}
        <a id="{{lib_name}}"/>
        <table class="striped rounded metro">
            <caption><a href="https://pypi.org/project/{{ lib_name.rsplit('-', 1)[0] }}">{{ lib_name }}</a></caption>
            <thead>
                <tr>
                    <th>pytest</th>
                    {% for python_ver in python_versions %}
                    <th>{{ python_ver }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for pytest_ver in pytest_versions %}
                    <tr>
                    <td>{{ pytest_ver }}</td>
                    {% for python_ver in python_versions %}
                        <td>
                            <a href="{{ '/output/%s?py=%s&pytest=%s' % (lib_name, python_ver, pytest_ver) }}">
                        {% if statuses.get((lib_name, python_ver, pytest_ver)) == "ok" %}
                            <img src="{{ url_for('static', filename='ok.png') }}"/>
                        {% elif statuses.get((lib_name, python_ver, pytest_ver)) == "fail" %}
                            <img src="{{ url_for('static', filename='fail.png') }}"/>
                        {% else %}
                            <img src="{{ url_for('static', filename='unknown.png') }}"/>
                        {% endif %}
                            </a>
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    {% endif %}

</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43463457-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
